<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="enquiryinf" frontName="enquiryinf">
            <module name="Pcdev_Enqform" />
        </route>
    </router>
</config>